@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato {
    font-family: "Lato", sans-serif;
}

.btnColor {
    background-color: rgb(14, 122, 129);
}

.active {
    box-sizing: border-box;
    border: 1.5px solid rgb(14, 122, 129);
    border-radius: 120px;
    background: rgba(14, 122, 129, 0.1);
}